<div class="bg-color">
    <div class="container">
        <div class="row my-5">
            <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
                <div class="py-5 my-5">
    
                    <div class="color shadow-lg p-4 rounded text-center" style="margin-bottom: 80px;">
                        <h1 class="font-italic px-3">DOMANDE FREQUENTI</h1>
                    </div>
                    
                    <div class="shadow-lg p-5 bg-white rounded">
                        <h3 style="text-decoration: underline" class="font-italic mb-3">1. Posso annullare l'abbonamento prima dei 6 mesi?</h3>
                        <h4 class="font-italic mb-3">Si, e alla fine dei 6 mesi il contratto scadrà e bisognerà riconsegnare le scarpe </h4>
                        <h3 style="text-decoration: underline" class="font-italic mb-3">2. In quanto tempo viene effetuata la spedizione delle scarpe?</h3>
                        <h4 class="font-italic mb-3">La spedizione verrà effetuata entro 2 giorni lavorativi </h4>
                        <h3 style="text-decoration: underline" class="font-italic mb-3">3. Quali pagamenti accettate?</h3>
                        <h4 class="font-italic mb-3">Accettiamo: MasterCard, Visa, Maestro, Amex e Paypal </h4>
                        <h3 style="text-decoration: underline" class="font-italic mb-3">4. Come posso sapere se le scarpe sono originali?</h3>
                        <h4 class="font-italic mb-3">Le nostre scarpe vengono controllate da specialisti nel settore, che ne verificano l'autenticità </h4>
                        <h3 style="text-decoration: underline" class="font-italic mb-3">5. Posso cambiare le scarpe prima dei 6 mesi?</h3>
                        <h4 class="font-italic mb-3">No, si possono cambiare le scarpe al cambio del piano, ogni 6 mesi</h4>
                        <h3 style="text-decoration: underline" class="font-italic mb-3">6. Alla fine dell'abbonamento, posso tenere le scarpe?</h3>
                        <h4 class="font-italic mb-3">No, le scarpe devono essere restituite</h4>
                        <h3 style="text-decoration: underline" class="font-italic mb-3">7. Se non restituisco le scarpe?</h3>
                        <h4 class="font-italic mb-3">Verrà addebitata una sanzione sul metodo di pagamento </h4>
                        <h3 style="text-decoration: underline" class="font-italic mb-3">8. Quali sono le scarpe disponibili?</h3>
                        <h4 class="font-italic mb-3">Puoi trovare le scarpe disponibili nella sezione "Piani Disponibili" della Homepage </h4>
                        <h3 style="text-decoration: underline" class="font-italic mb-3">9. Si paga mensilmente oppure ogni 6 mesi?</h3>
                        <h4 class="font-italic mb-3">Il pagamento verrà addebitato mensilmente </h4>
                        <h3 style="text-decoration: underline" class="font-italic mb-3">10. Avete i biscotti?</h3>
                        <h4 class="font-italic mb-3">Per ogni piano acquistato le scarpe verrano fornite con un biscotto</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
